#main {
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, minmax(40px, auto));
  grid-template-columns: repeat(3, 1fr);	
  min-height: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

#header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
 
}

#header {
  background-color: #3f281f;
  height: 110px;
  padding: 20px;
  color: white;	
  grid-column: 1/4;	
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#map-container{
	grid-row: 2/3;
	grid-column: 2/4;
}

#search-container {
	grid-row: 2/3;
	grid-column: 1/2;
	background-color: antiquewhite;
	text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
